@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
$black: #282828;
$white: #fff;
$gray: #5f6980;
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type='submit'] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

* {
  font-family: 'Inter', sans-serif;
}
html,
body {
  height: 100%;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}
.header {
  padding: 16px 52px;
  display: flex;
  justify-content: space-between;
  &__nav {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
  }
  &__nav-item {
    color: $black;
    position: relative;
    background-image: linear-gradient($black, $black);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 0.3s;
    font-size: 14px;
    font-weight: 600;
    &:hover {
      color: $black;
      background-size: 100% 2px;
    }
  }
  &__icons {
    display: flex;
    gap: 20px;
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    font-size: 12px;
    font-weight: 700;
  }
  &__icon-count {
    width: 20px;
    height: 20px;
    background-color: $black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
}

.top {
  &__slide {
    display: flex;
    align-items: center;
  }
  &__right {
    width: 600px;
    padding: 0 82px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: $black;
    align-items: flex-start;
  }
  &__additional {
    font-weight: 600;
    margin-bottom: 8px;
  }
  &__title {
    font-size: 54px;
    font-weight: 600;
    margin-bottom: 8px;
  }
  &__description {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 28px;
  }
  &__link {
    font-size: 18px;
    font-weight: 600;
    position: relative;
    color: $black;
    &::before {
      content: '';
      position: absolute;
      bottom: -3px;
      height: 2px;
      width: 100%;
      background-color: $black;
    }
  }
}
.menu-btn {
  display: none;
}
.menu {
  display: none;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
}
.swiper-button-prev,
.swiper-button-next {
  display: flex;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: $white;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.06);
}
.swiper-button-prev svg,
.swiper-button-next svg {
  width: 32px;
  height: 32px;
}
.swiper-button-prev {
  left: 52px;
}
.swiper-button-next {
  right: 52px;
}

.logos {
  padding: 52px;
  &__swiper {
    border-top: 1px solid #d0d5dd;
    border-bottom: 1px solid #d0d5dd;
    padding: 56px 100px;
  }
}

.banner {
  display: flex;
  padding: 52px;
  gap: 32px;
  justify-content: center;
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding-bottom: 32px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__description {
    font-size: 16px;
    font-weight: 400;
    color: $gray;
  }
  &__title {
    font-size: 20px;
    font-weight: 600;
    color: $black;
  }
}

.timer {
  display: flex;
  padding: 52px;
  &__right {
    display: flex;
    gap: 32px;
    padding-left: 114px;
    justify-content: center;
    flex-direction: column;
    color: $black;
    align-items: flex-start;
    width: 600px;
  }
  &__additional {
    font-size: 16px;
    font-weight: 600;
  }
  &__title {
    font-size: 54px;
    font-weight: 600;
  }
  &__description {
    font-size: 18px;
    font-weight: 400;
  }
  &__date {
    font-size: 34px;
    font-weight: 600;
  }
  &__btn {
    padding: 10px 24px;
    background-color: $black;
    color: $white;
    font-size: 18px;
    font-weight: 600;
  }
}

.newsletter {
  padding: 52px;
  &__wrapper {
    display: flex;
    height: 334px;
    justify-content: center;
    align-items: center;
    border: 1px solid $black;
    flex-direction: column;
    color: $black;
    gap: 24px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
  }
  &__title {
    font-size: 42px;
    font-weight: 600;
  }
  &__description {
    font-size: 18px;
    font-weight: 400;
  }
  &__form {
    display: flex;
    width: 500px;
    gap: 4px;
    padding: 13px 0;
    border-bottom: 1px solid #d0d5dd;
    font-size: 16px;
  }
  &__form-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 4px;
  }
  &__form-input {
    flex: 1;
  }
  &__form-btn {
    font-weight: 600;
  }
}

.engage {
  padding: 52px;
  &__wrapper {
    background: url('/bg.png') center / cover no-repeat;
    height: 494px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white;
    width: 500px;
    gap: 6px;
  }
  &__title {
    font-size: 42px;
    font-weight: 600;
  }
  &__description {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
  }
  &__link {
    color: $white;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    &::before {
      content: '';
      height: 2px;
      width: 100%;
      position: absolute;
      bottom: -3px;
      background-color: $white;
    }
  }
}

.footer {
  padding: 52px;
  display: flex;
  flex-direction: column;
  gap: 72px;
  background: #f9fafb;
  &__top {
    display: flex;
    justify-content: space-between;
  }
  &__top-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
  &__description {
    font-size: 16px;
    font-weight: 400;
    color: #475467;
  }
  &__socials {
    display: flex;
    gap: 16px;
  }
  &__socials-item {
    width: 36px;
    height: 36px;
    background-color: $white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__top-right {
    display: flex;
    gap: 120px;
  }
  &__right-item {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__link {
    color: #5f6980;
  }
  &__bottom {
    border-top: 1px solid #d0d5dd;
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
  }
  &__copyright {
    color: #5f6980;
  }
  &__selects {
    display: flex;
    gap: 32px;
  }
  &__select {
    display: flex;
    gap: 5px;
    font-size: 14px;
    font-weight: 600;
    align-items: center;
  }
}

.logos-mobile {
  display: none;
}

@media (max-width: 1200px) {
  .top {
    &__right {
      padding: 0 40px;
    }
  }
  .timer {
    &__right {
      padding-left: 40px;
    }
  }
}

@media (max-width: 1100px) {
  .top {
    &__slide {
      flex-direction: column;
      gap: 40px;
    }
    &__right {
      width: auto;
      padding: 0;
      align-items: center;
    }
    &__description {
      margin-bottom: 10px;
    }
  }
  .swiper-button-next {
    right: 20px;
  }
  .swiper-button-prev {
    left: 20px;
  }
  .timer {
    flex-direction: column;
    gap: 40px;
    &__right {
      padding: 0;
      width: 100%;
      gap: 10px;
      align-items: center;
    }
  }
}

@media (max-width: 900px) {
  .footer {
    &__top {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
    &__top-right {
      gap: 120px;
    }
  }
}

@media (max-width: 800px) {
  .top {
    &__title {
      font-size: 40px;
    }
    &__description {
      text-align: center;
    }
    &__right {
      padding: 10px;
    }
  }
  .timer {
    &__description {
      text-align: center;
    }
    &__title {
      font-size: 40px;
    }
  }
  .header {
    &__nav {
      gap: 10px;
    }
    &__icons {
      gap: 10px;
    }
    padding: 10px;
  }
  .logos {
    padding: 10px;
  }
  .banner {
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }
  .timer {
    padding: 10px;
  }
  .newsletter {
    padding: 10px;
  }
  .engage {
    padding: 10px;
  }
  .footer {
    padding: 10px;
    &__top-left {
      align-items: center;
    }
  }
}

@media (max-width: 600px) {
  .header {
    &__icons {
      align-items: center;
    }
    &__icon {
      display: none;
    }
    &__nav {
      display: none;
    }
    &__icon-cart {
      display: flex;
    }
  }
  .menu {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    background: $white;
    transform: translateX(-100%);
    transition: transform 0.5s;
    z-index: 12;
    &__nav {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
    }
    &__nav-item {
      color: $black;
    }
  }
  .menu-btn.active span:nth-of-type(1) {
    display: none;
  }
  .menu-btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
  }
  .menu-btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
  }
  .menu.active {
    transform: translateX(0);
  }
  .menu li {
    list-style-type: none;
  }
  .menu-btn {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 13;
    overflow: hidden;
    display: block;
  }
  .menu-btn span {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #222222;
    transition: all 0.5s;
  }
  .menu-btn span:nth-of-type(2) {
    top: calc(50% - 5px);
  }
  .menu-btn span:nth-of-type(3) {
    top: calc(50% + 5px);
  }
  .top {
    &__title {
      text-align: center;
    }
  }
  .newsletter {
    &__form {
      width: auto;
    }
    &__wrapper {
      padding: 10px;
    }
    &__description {
      text-align: center;
    }
  }
  .engage {
    &__wrapper {
      padding: 10px;
    }
    &__title {
      font-size: 30px;
    }
    &__description {
      text-align: center;
    }
    &__info {
      width: auto;
    }
  }
  .footer {
    &__description {
      text-align: center;
    }
  }
}

@media (max-width: 500px) {
  .logos {
    display: none;
  }
  .newsletter {
    &__title {
      text-align: center;
      font-size: 20px;
    }
    &__form {
      padding: 5px 0;
    }
  }
  .engage {
    &__title {
      text-align: center;
    }
  }
  .footer {
    &__top-right {
      gap: 20px;
    }
    &__bottom {
      padding-top: 10px;
      flex-direction: column;
      gap: 10px;
      justify-content: center;
      align-items: center;
    }
    gap: 20px;
  }
  .top {
    &__slide {
      gap: 20px;
    }
    &__title {
      font-size: 20px;
    }
    &__additional {
      font-size: 14px;
    }
  }
  .timer {
    gap: 20px;
    &__date {
      font-size: 20px;
    }
  }
}
